@model IEnumerable<Bank.Models.BankAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Bank Accounts:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Bank Account ID
            </th>
            <th>
                Currency
            </th>
            <th>
                Balance
            </th>
            <th>
                Account Type
            </th>
            <th>
                Transaction History
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency.FULL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BALANCE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acctype.NAME)
            </td>
            <td>
                <form asp-action="ViewAll" asp-controller="Cashier" method="get">
                    <input type="hidden" name="bankAccIDSpecial" id="bankAccIDSpecial" value="@item.ID.ToString()">
                    <button class="btn btn-primary" type="submit">View transactions</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
