@using  Bank.Areas.Identity.Data
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<AccountUser>)ViewData["AllCashiers"])
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        Cashier
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var item in (List<AccountUser>)ViewData["AllBankers"])
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        Banker
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var item in (List<AccountUser>)ViewData["AllClients"])
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        Client
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to actions</a>
</div>
