@model IEnumerable<Bank.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{

    <h1>Choose specifications</h1>

    if (ViewData["error"] != null)
    {

        <div class="alert-danger">
            <p name="empID" class="control-label">@ViewData["error"]</p>
        </div>
    }

    <form asp-action="ViewAll" method="post">

        <div class="form-group">
            <label name="empID" class="control-label">Employee Id</label>
            <select name="empID" class="form-control" asp-items="ViewBag.EmployeeId"></select>
        </div>

        <div class="form-group">
            <label name="bankAccID" class="control-label">Bank Account Id</label>
            <select name="bankAccID" class="form-control" asp-items="ViewBag.BankAccId"></select>
        </div>

        <div class="form-group">
            <label name="bankAccID" class="control-label">Date of transaction</label>
            <input type="date" class="form-control" name="transTime" />
        </div>

        <input type="submit" value="Search" class="btn btn-primary" />

    </form>

}
else
{
    <h1>All transactions</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransCatId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SUM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransCatId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankAccId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
