@model IEnumerable<Bank.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{

    <h1>Choose specifications</h1>

    if (ViewData["error"] != null)
    {

        <div class="alert-danger">
            <p name="empID" class="control-label">@ViewData["error"]</p>
        </div>
    }

<form asp-action="ViewAll" method="post">

    <div class="form-group">
        <label name="bankAccID" class="control-label">Bank Account Id</label>
        @if (ViewData["bankAccIDSpecial"] != null)
        {
            <input type="text" class="form-control" name="bankAccID" readonly value="@ViewData["bankAccIDSpecial"]" />
        }
        else
        {
            <select name="bankAccID" class="form-control" asp-items="ViewBag.BankAccId"></select>
        }
    </div
>

    <div class="form-group">
        <label class="control-label">Date from</label>
        <input type="date" class="form-control" name="transTimeFrom" />
    </div>

    <div class="form-group">
        <label  class="control-label">Date to</label>
        <input type="date" class="form-control" name="transTimeTo" />
    </div>

    <input type="submit" value="Search" class="btn btn-primary" />

</form>

}
else
{
    <h1>All transactions</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Transaction type
                </th>
                <th>
                    Sum of transaction
                </th>
                <th>
                    Date of transaction
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Bank account ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.TransCatId == 1)
                        {
                            <p>Deposit</p>
                        }
                        else
                        {
                            <p>Withdrawal</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankAccId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
